# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# Data files
*.csv
*.zip
*.rda

*.pem
*.ppk

# plda files
code/plda/*.o
code/plda/lda
code/plda/infer
*.txt
*.data
# *.model
